<div class="position">
<div class="col-md-6">


  <div class="panel panel-default">
    <div class="panel-heading">
      register
    </div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onRegister(f.value)" >
        <div class="form-group">
          <label class="control-label">Username</label>
          <input type="text" name="username" ngModel class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">Adress</label>
          <input type="text" name="adress" ngModel class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">Password</label>
          <input type="password" name="password" ngModel class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">ConfirmedPassword</label>
          <input type="password" name="confirmedPassword" ngModel class="form-control">
        </div>
        <button type="submit" class="btn btn-default btn-success" >Register</button>
      </form>
    </div>
  </div>
</div>
</div>
<style>
  .position{
  position: relative;
  top: 25%;
  left: 23%;
  }

  label{
    color: rgb(0, 0, 0);
    font-size: 15px;
    justify-content: center;
    display: flex;
    margin: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
  }
  input{
    width: 60%;
    font-size: 15px;
    height: 50px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #ff0000;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
  }
  button:hover{
    background: #db2525;
  }
  .login{
    height: 460px;
    background: rgb(167, 0, 0);
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
  }
  .login label{
    color: #573b8a;
    transform: scale(.6);
  }

  #chk:checked ~ .login{
    transform: translateY(-500px);
  }
  #chk:checked ~ .login label{
    transform: scale(1);
  }
  #chk:checked ~ .signup label{
    transform: scale(.6);
  }

  </style>

